In [64]:
import pandas as pd
import requests
from tqdm import tqdm_notebook
import json
from api_keys import api_key
import os
from sqlalchemy import create_engine

In [65]:
imdb_data = "movies_metadata.csv"
imdb_data_df = pd.read_csv(imdb_data, low_memory=False)

In [66]:
imdb_id_df = imdb_data_df['imdb_id']

In [67]:
test = imdb_id_df.head(100)

In [68]:
test

0     tt0114709
1     tt0113497
2     tt0113228
3     tt0114885
4     tt0113041
5     tt0113277
6     tt0114319
7     tt0112302
8     tt0114576
9     tt0113189
10    tt0112346
11    tt0112896
12    tt0112453
13    tt0113987
14    tt0112760
15    tt0112641
16    tt0114388
17    tt0113101
18    tt0112281
19    tt0113845
20    tt0113161
21    tt0112722
22    tt0112401
23    tt0114168
24    tt0113627
25    tt0114057
26    tt0114011
27    tt0114117
28    tt0112682
29    tt0115012
        ...
70    tt0113010
71    tt0113537
72    tt0113828
73    tt0115644
74    tt0115676
75    tt0114367
76    tt0113973
77    tt0112744
78    tt0116731
79    tt0112445
80    tt0114660
81    tt0112379
82    tt0114039
83    tt0113612
84    tt0112365
85    tt0118158
86    tt0116151
87    tt0115697
88    tt0113972
89    tt0113490
90    tt0117002
91    tt0114825
92    tt0115639
93    tt0115759
94    tt0113403
95    tt0113247
96    tt0111173
97    tt0113283
98    tt0115907
99    tt0115734
Name: imdb_id, Length: 100, dtype: object

In [69]:
url = "http://www.omdbapi.com//?i="
api = f"&apikey={api_key}"

omdb_data = []
for id_ in tqdm_notebook(test):
    response = requests.get(url + id_+api).json()
    director = response['Director']
    actors = response['Actors']
    writer = response['Writer']
    rating = response['Rated']
    awards = response['Awards']
    omdb_data.append({'imdb_id': id_,
                      'Director' : director,
                      'Actors' : actors,
                      'Writer' : writer,
                      'Rated' : rating,
                      'Awards' : awards})
    #print(response['Director'])

HBox(children=(IntProgress(value=0), HTML(value='')))

In [81]:
actor_data = []
actor = []
array_length = len(omdb_data)
for i in range(array_length):
    actor_data.append({'imdb_id': omdb_data[i]['imdb_id'],
                       'Actors' : omdb_data[i]['Actors'].split(',')})

In [82]:
actor_data

[{'imdb_id': 'tt0114709',
  'Actors': ['Tom Hanks', ' Tim Allen', ' Don Rickles', ' Jim Varney']},
 {'imdb_id': 'tt0113497',
  'Actors': ['Robin Williams',
   ' Jonathan Hyde',
   ' Kirsten Dunst',
   ' Bradley Pierce']},
 {'imdb_id': 'tt0113228',
  'Actors': ['Walter Matthau',
   ' Jack Lemmon',
   ' Sophia Loren',
   ' Ann-Margret']},
 {'imdb_id': 'tt0114885',
  'Actors': ['Whitney Houston',
   ' Angela Bassett',
   ' Loretta Devine',
   ' Lela Rochon']},
 {'imdb_id': 'tt0113041',
  'Actors': ['Steve Martin',
   ' Diane Keaton',
   ' Martin Short',
   ' Kimberly Williams-Paisley']},
 {'imdb_id': 'tt0113277',
  'Actors': ['Al Pacino', ' Robert De Niro', ' Val Kilmer', ' Jon Voight']},
 {'imdb_id': 'tt0114319',
  'Actors': ['Harrison Ford',
   ' Julia Ormond',
   ' Greg Kinnear',
   ' Nancy Marchand']},
 {'imdb_id': 'tt0112302',
  'Actors': ['Jonathan Taylor Thomas',
   ' Brad Renfro',
   ' Eric Schweig',
   ' Charles Rocket']},
 {'imdb_id': 'tt0114576',
  'Actors': ['Jean-Claude Van Damme',
   ' Powers Boothe',
   ' Raymond J. Barry',
   ' Whittni Wright']},
 {'imdb_id': 'tt0113189',
  'Actors': ['Pierce Brosnan',
   ' Sean Bean',
   ' Izabella Scorupco',
   ' Famke Janssen']},
 {'imdb_id': 'tt0112346',
  'Actors': ['Michael Douglas',
   ' Annette Bening',
   ' Martin Sheen',
   ' Michael J. Fox']},
 {'imdb_id': 'tt0112896',
  'Actors': ['Leslie Nielsen',
   ' Peter MacNicol',
   ' Steven Weber',
   ' Amy Yasbeck']},
 {'imdb_id': 'tt0112453',
  'Actors': ['Kevin Bacon',
   ' Bob Hoskins',
   ' Bridget Fonda',
   ' Jim Cummings']},
 {'imdb_id': 'tt0113987',
  'Actors': ['Anthony Hopkins',
   ' Joan Allen',
   ' Powers Boothe',
   ' Ed Harris']},
 {'imdb_id': 'tt0112760',
  'Actors': ['Geena Davis',
   ' Matthew Modine',
   ' Frank Langella',
   ' Maury Chaykin']},
 {'imdb_id': 'tt0112641',
  'Actors': ['Robert De Niro', ' Sharon Stone', ' Joe Pesci', ' James Woods']},
 {'imdb_id': 'tt0114388',
  'Actors': ['James Fleet',
   ' Tom Wilkinson',
   ' Harriet Walter',
   ' Kate Winslet']},
 {'imdb_id': 'tt0113101',
  'Actors': ['Sammi Davis',
   ' Amanda De Cadenet',
   ' Valeria Golino',
   ' Madonna']},
 {'imdb_id': 'tt0112281',
  'Actors': ['Jim Carrey',
   ' Ian McNeice',
   ' Simon Callow',
   ' Maynard Eziashi']},
 {'imdb_id': 'tt0113845',
  'Actors': ['Wesley Snipes',
   ' Woody Harrelson',
   ' Jennifer Lopez',
   ' Robert Blake']},
 {'imdb_id': 'tt0113161',
  'Actors': ['John Travolta',
   ' Gene Hackman',
   ' Rene Russo',
   ' Danny DeVito']},
 {'imdb_id': 'tt0112722',
  'Actors': ['Sigourney Weaver',
   ' Holly Hunter',
   ' Dermot Mulroney',
   ' William McNamara']},
 {'imdb_id': 'tt0112401',
  'Actors': ['Sylvester Stallone',
   ' Antonio Banderas',
   ' Julianne Moore',
   ' Anatoli Davydov']},
 {'imdb_id': 'tt0114168',
  'Actors': ['Mary Steenburgen',
   ' Sean Patrick Flanery',
   ' Lance Henriksen',
   ' Jeff Goldblum']},
 {'imdb_id': 'tt0113627',
  'Actors': ['Nicolas Cage',
   ' Elisabeth Shue',
   ' Julian Sands',
   ' Richard Lewis']},
 {'imdb_id': 'tt0114057',
  'Actors': ['Laurence Fishburne',
   ' Irène Jacob',
   ' Kenneth Branagh',
   ' Nathaniel Parker']},
 {'imdb_id': 'tt0114011',
  'Actors': ['Christina Ricci',
   " Rosie O'Donnell",
   ' Thora Birch',
   ' Melanie Griffith']},
 {'imdb_id': 'tt0114117',
  'Actors': ['Amanda Root',
   ' Ciarán Hinds',
   ' Susan Fleetwood',
   ' Corin Redgrave']},
 {'imdb_id': 'tt0112682',
  'Actors': ['Ron Perlman',
   ' Daniel Emilfork',
   ' Judith Vittet',
   ' Dominique Pinon']},
 {'imdb_id': 'tt0115012',
  'Actors': ['Li Gong', ' Baotian Li', ' Xiaoxiao Wang', ' Xuejian Li']},
 {'imdb_id': 'tt0112792',
  'Actors': ['Michelle Pfeiffer',
   ' George Dzundza',
   ' Courtney B. Vance',
   ' Robin Bartlett']},
 {'imdb_id': 'tt0114746',
  'Actors': ['Joseph Melito',
   ' Bruce Willis',
   ' Jon Seda',
   ' Michael Chance']},
 {'imdb_id': 'tt0114952',
  'Actors': ['Craig Sheffer',
   ' Tom Hulce',
   ' Elizabeth McGovern',
   ' Val Kilmer']},
 {'imdb_id': 'tt0112431',
  'Actors': ['Christine Cavanaugh',
   ' Miriam Margolyes',
   ' Danny Mann',
   ' Hugo Weaving']},
 {'imdb_id': 'tt0112637',
  'Actors': ['Emma Thompson',
   ' Jonathan Pryce',
   ' Steven Waddington',
   ' Samuel West']},
 {'imdb_id': 'tt0112818',
  'Actors': ['Susan Sarandon',
   ' Sean Penn',
   ' Robert Prosky',
   ' Raymond J. Barry']},
 {'imdb_id': 'tt0112286',
  'Actors': ['Peter Reznick',
   ' John McDonough',
   ' Avi Hoffman',
   ' Victor Steinbach']},
 {'imdb_id': 'tt0113442',
  'Actors': ['Kirstie Alley',
   ' Steve Guttenberg',
   ' Mary-Kate Olsen',
   ' Ashley Olsen']},
 {'imdb_id': 'tt0112697',
  'Actors': ['Alicia Silverstone',
   ' Stacey Dash',
   ' Brittany Murphy',
   ' Paul Rudd']},
 {'imdb_id': 'tt0112749',
  'Actors': ['James Earl Jones',
   ' Richard Harris',
   ' Vusi Kunene',
   ' Charles S. Dutton']},
 {'imdb_id': 'tt0114279',
  'Actors': ['Christopher Bowen',
   ' Edward Jewesbury',
   ' Ian McKellen',
   ' Bill Paterson']},
 {'imdb_id': 'tt0112819',
  'Actors': ['Larenz Tate',
   ' Keith David',
   ' Chris Tucker',
   ' Freddy Rodríguez']},
 {'imdb_id': 'tt0114272',
  'Actors': ['Robert Downey Jr.',
   ' Sam Neill',
   ' David Thewlis',
   ' Polly Walker']},
 {'imdb_id': 'tt0113855',
  'Actors': ['Christopher Lambert',
   ' Robin Shou',
   ' Linden Ashby',
   ' Cary-Hiroyuki Tagawa']},
 {'imdb_id': 'tt0114681',
  'Actors': ['Nicole Kidman',
   ' Matt Dillon',
   ' Joaquin Phoenix',
   ' Casey Affleck']},
 {'imdb_id': 'tt0113347',
  'Actors': ['Kaelynn Craddick',
   ' Sara Craddick',
   ' Kate Capshaw',
   ' Adam Baldwin']},
 {'imdb_id': 'tt0114369',
  'Actors': ['Morgan Freeman',
   ' Andrew Kevin Walker',
   ' Daniel Zacapa',
   ' Brad Pitt']},
 {'imdb_id': 'tt0114148',
  'Actors': ['Joe Baker',
   ' Christian Bale',
   ' Irene Bedard',
   ' Billy Connolly']},
 {'imdb_id': 'tt0114916',
  'Actors': ['Pascale Bussières',
   ' Rachael Crawford',
   ' Henry Czerny',
   ' David Fox']},
 {'imdb_id': 'tt0114814',
  'Actors': ['Stephen Baldwin',
   ' Gabriel Byrne',
   ' Benicio Del Toro',
   ' Kevin Pollak']},
 {'imdb_id': 'tt0109950',
  'Actors': ['Cynthia Rothrock',
   ' Daniel McVicar',
   ' Lydie Denier',
   ' Marshall R. Teague']},
 {'imdb_id': 'tt0113819',
  'Actors': ['Pamela Blair',
   ' Rene Ceballos',
   ' Elie Chaib',
   ' George De La Pena']},
 {'imdb_id': 'tt0110299',
  'Actors': ['Enrico Lo Verso',
   ' Michele Placido',
   ' Piro Milkani',
   ' Carmelo Di Mazzarelli']},
 {'imdb_id': 'tt0112499',
  'Actors': ['Steve Guttenberg',
   " Olivia d'Abo",
   ' Jay O. Sanders',
   ' John Terry']},
 {'imdb_id': 'tt0113158',
  'Actors': ['Jennifer Jason Leigh',
   ' Mare Winningham',
   ' Ted Levine',
   ' Max Perlich']},
 {'imdb_id': 'tt0113541',
  'Actors': ['Johnny Morina',
   ' Maggie Castle',
   ' Christopher Olscamp',
   ' Justin Borntraeger']},
 {'imdb_id': 'tt0113321',
  'Actors': ['Holly Hunter',
   ' Robert Downey Jr.',
   ' Anne Bancroft',
   ' Charles Durning']},
 {'imdb_id': 'tt0110877',
  'Actors': ['Philippe Noiret',
   ' Massimo Troisi',
   ' Maria Grazia Cucinotta',
   ' Renato Scarpa']},
 {'imdb_id': 'tt0112714',
  'Actors': ['Lothaire Bluteau',
   ' Patrick Goyette',
   ' Jean-Louis Millette',
   ' Kristin Scott Thomas']},
 {'imdb_id': 'tt0113419',
  'Actors': ['Hal Scardino',
   ' Litefoot',
   ' Lindsay Crouse',
   ' Richard Jenkins']},
 {'imdb_id': 'tt0116260',
  'Actors': ['Sally Field',
   ' Ed Harris',
   ' Olivia Burnette',
   ' Alexandra Kyle']},
 {'imdb_id': 'tt0113862',
  'Actors': ['Richard Dreyfuss',
   ' Glenne Headly',
   ' Jay Thomas',
   ' Olympia Dukakis']},
 {'imdb_id': 'tt0116126',
  'Actors': ['Shawn Wayans',
   ' Marlon Wayans',
   ' Tracey Cherelle Jones',
   ' Chris Spencer']},
 {'imdb_id': 'tt0118002',
  'Actors': ['Denis Leary',
   ' Sandra Bullock',
   ' Stephen Dillane',
   ' Yaphet Kotto']},
 {'imdb_id': 'tt0115683',
  'Actors': ['William Atherton',
   ' Denise Dowse',
   ' Dara Tomanovich',
   ' Kevin West']},
 {'imdb_id': 'tt0116839',
  'Actors': ['Patrick Bergin',
   ' Matt Frewer',
   " Austin O'Brien",
   ' Ely Pouget']},
 {'imdb_id': 'tt0114753',
  'Actors': ['Jerry Barone',
   ' Mary Elizabeth Mastrantonio',
   ' Al Pacino',
   ' Patrick Borriello']},
 {'imdb_id': 'tt0113149',
  'Actors': ['Victoria Abril',
   ' Josiane Balasko',
   ' Alain Chabat',
   ' Ticky Holgado']},
 {'imdb_id': 'tt0113118',
  'Actors': ['Ice Cube',
   ' Chris Tucker',
   ' Nia Long',
   " Tommy 'Tiny' Lister"]},
 {'imdb_id': 'tt0116367',
  'Actors': ['George Clooney',
   ' Quentin Tarantino',
   ' Harvey Keitel',
   ' Juliette Lewis']},
 {'imdb_id': 'tt0113010',
  'Actors': ['William Baldwin',
   ' Cindy Crawford',
   ' Steven Berkoff',
   ' Christopher McDonald']},
 {'imdb_id': 'tt0113537',
  'Actors': ['Josh Hamilton',
   ' Samuel Gould',
   ' Catherine Kellner',
   ' Jonathan Baumbach']},
 {'imdb_id': 'tt0113828',
  'Actors': ['Jean-Paul Belmondo',
   ' Michel Boujenah',
   ' Alessandra Martines',
   ' Salomé Lelouch']},
 {'imdb_id': 'tt0115644',
  'Actors': ['Christian Slater',
   ' Mary Stuart Masterson',
   ' Pamela Adlon',
   ' Josh Brolin']},
 {'imdb_id': 'tt0115676',
  'Actors': ['Rick Moranis',
   ' Tom Arnold',
   ' Julianne Phillips',
   ' Carol Kane']},
 {'imdb_id': 'tt0114367',
  'Actors': ['Peter Weller',
   ' Roy Dupuis',
   ' Jennifer Rubin',
   ' Andrew Lauer']},
 {'imdb_id': 'tt0113973',
  'Actors': ['Nico', ' Tina Aumont', ' Christian Päffgen', ' Edith Boulogne']},
 {'imdb_id': 'tt0112744',
  'Actors': ['Jack Nicholson',
   ' David Morse',
   ' Anjelica Huston',
   ' Robin Wright']},
 {'imdb_id': 'tt0116731',
  'Actors': ['Demi Moore',
   ' Alec Baldwin',
   ' Joseph Gordon-Levitt',
   ' James Gandolfini']},
 {'imdb_id': 'tt0112445',
  'Actors': ['Aida Mohammadkhani',
   ' Mohsen Kafili',
   ' Fereshteh Sadre Orafaiy',
   ' Anna Borkowska']},
 {'imdb_id': 'tt0114660',
  'Actors': ['Andy Garcia',
   ' Christopher Lloyd',
   ' William Forsythe',
   ' Bill Nunn']},
 {'imdb_id': 'tt0112379',
  'Actors': ['Willeke van Ammelrooy',
   ' Els Dottermans',
   ' Dora van der Groen',
   ' Veerle van Overloop']},
 {'imdb_id': 'tt0114039',
  'Actors': ['Al Freeman Jr.', ' Phylicia Rashad', ' Leon', ' Paula Kelly']},
 {'imdb_id': 'tt0113612',
  'Actors': ['Victoria Foyt',
   ' Viveca Lindfors',
   ' Jon Robin Baitz',
   ' Savannah Smith Boucher']},
 {'imdb_id': 'tt0112365',
  'Actors': ['Mark Rylance',
   ' Kristin Scott Thomas',
   ' Patsy Kensit',
   ' Jeremy Kemp']},
 {'imdb_id': 'tt0118158',
  'Actors': ['Jeff Bridges',
   ' Caroline Goodall',
   ' John Savage',
   ' Scott Wolf']},
 {'imdb_id': 'tt0116151',
  'Actors': ['Jason Alexander',
   ' Faye Dunaway',
   ' Eric Lloyd',
   ' Rupert Everett']},
 {'imdb_id': 'tt0115697',
  'Actors': ['Chris Farley',
   ' David Spade',
   ' Tim Matheson',
   ' Christine Ebersole']},
 {'imdb_id': 'tt0113972',
  'Actors': ['Johnny Depp',
   ' Courtney Chase',
   ' Charles S. Dutton',
   ' Christopher Walken']},
 {'imdb_id': 'tt0113490',
  'Actors': ['Jason Patric',
   ' Thandie Newton',
   ' Larry Drake',
   ' Sam Waterston']},
 {'imdb_id': 'tt0117002',
  'Actors': ['Julia Roberts',
   ' John Malkovich',
   ' George Cole',
   ' Michael Gambon']},
 {'imdb_id': 'tt0114825',
  'Actors': ['Eddie Murphy',
   ' Angela Bassett',
   ' Allen Payne',
   ' Kadeem Hardison']},
 {'imdb_id': 'tt0115639',
  'Actors': ['Matt Dillon',
   ' Noah Emmerich',
   ' Annabeth Gish',
   ' Lauren Holly']},
 {'imdb_id': 'tt0115759',
  'Actors': ['John Travolta',
   ' Christian Slater',
   ' Samantha Mathis',
   ' Delroy Lindo']},
 {'imdb_id': 'tt0113403',
  'Actors': ['Richard Briers',
   ' Hetta Charnley',
   ' Joan Collins',
   ' Nicholas Farrell']},
 {'imdb_id': 'tt0113247',
  'Actors': ['Vincent Cassel',
   ' Hubert Koundé',
   ' Saïd Taghmaoui',
   ' Abdel Ahmed Ghili']},
 {'imdb_id': 'tt0111173',
  'Actors': ['Sadie Frost', ' Jude Law', ' Sean Pertwee', ' Fraser James']},
 {'imdb_id': 'tt0113283',
  'Actors': ['Nick Broomfield',
   ' Nina Xining Zuo',
   ' Madam Alex',
   ' Corinne Bohrer']},
 {'imdb_id': 'tt0115907',
  'Actors': ['Al Pacino', ' John Cusack', ' Bridget Fonda', ' Danny Aiello']},
 {'imdb_id': 'tt0115734',
  'Actors': ['Luke Wilson', ' Owen Wilson', ' Ned Dowd', ' Shea Fowler']}]

In [83]:
actor_data_df = pd.DataFrame(actor_data)

In [84]:
actor_data_df

                                               Actors    imdb_id
0   [Tom Hanks,  Tim Allen,  Don Rickles,  Jim Var...  tt0114709
1   [Robin Williams,  Jonathan Hyde,  Kirsten Duns...  tt0113497
2   [Walter Matthau,  Jack Lemmon,  Sophia Loren, ...  tt0113228
3   [Whitney Houston,  Angela Bassett,  Loretta De...  tt0114885
4   [Steve Martin,  Diane Keaton,  Martin Short,  ...  tt0113041
5   [Al Pacino,  Robert De Niro,  Val Kilmer,  Jon...  tt0113277
6   [Harrison Ford,  Julia Ormond,  Greg Kinnear, ...  tt0114319
7   [Jonathan Taylor Thomas,  Brad Renfro,  Eric S...  tt0112302
8   [Jean-Claude Van Damme,  Powers Boothe,  Raymo...  tt0114576
9   [Pierce Brosnan,  Sean Bean,  Izabella Scorupc...  tt0113189
10  [Michael Douglas,  Annette Bening,  Martin She...  tt0112346
11  [Leslie Nielsen,  Peter MacNicol,  Steven Webe...  tt0112896
12  [Kevin Bacon,  Bob Hoskins,  Bridget Fonda,  J...  tt0112453
13  [Anthony Hopkins,  Joan Allen,  Powers Boothe,...  tt0113987
14  [Geena Davis,  Matthew Modine,  Frank Langella...  tt0112760
15  [Robert De Niro,  Sharon Stone,  Joe Pesci,  J...  tt0112641
16  [James Fleet,  Tom Wilkinson,  Harriet Walter,...  tt0114388
17  [Sammi Davis,  Amanda De Cadenet,  Valeria Gol...  tt0113101
18  [Jim Carrey,  Ian McNeice,  Simon Callow,  May...  tt0112281
19  [Wesley Snipes,  Woody Harrelson,  Jennifer Lo...  tt0113845
20  [John Travolta,  Gene Hackman,  Rene Russo,  D...  tt0113161
21  [Sigourney Weaver,  Holly Hunter,  Dermot Mulr...  tt0112722
22  [Sylvester Stallone,  Antonio Banderas,  Julia...  tt0112401
23  [Mary Steenburgen,  Sean Patrick Flanery,  Lan...  tt0114168
24  [Nicolas Cage,  Elisabeth Shue,  Julian Sands,...  tt0113627
25  [Laurence Fishburne,  Irène Jacob,  Kenneth Br...  tt0114057
26  [Christina Ricci,  Rosie O'Donnell,  Thora Bir...  tt0114011
27  [Amanda Root,  Ciarán Hinds,  Susan Fleetwood,...  tt0114117
28  [Ron Perlman,  Daniel Emilfork,  Judith Vittet...  tt0112682
29  [Li Gong,  Baotian Li,  Xiaoxiao Wang,  Xuejia...  tt0115012
..                                                ...        ...
70  [William Baldwin,  Cindy Crawford,  Steven Ber...  tt0113010
71  [Josh Hamilton,  Samuel Gould,  Catherine Kell...  tt0113537
72  [Jean-Paul Belmondo,  Michel Boujenah,  Alessa...  tt0113828
73  [Christian Slater,  Mary Stuart Masterson,  Pa...  tt0115644
74  [Rick Moranis,  Tom Arnold,  Julianne Phillips...  tt0115676
75  [Peter Weller,  Roy Dupuis,  Jennifer Rubin,  ...  tt0114367
76  [Nico,  Tina Aumont,  Christian Päffgen,  Edit...  tt0113973
77  [Jack Nicholson,  David Morse,  Anjelica Husto...  tt0112744
78  [Demi Moore,  Alec Baldwin,  Joseph Gordon-Lev...  tt0116731
79  [Aida Mohammadkhani,  Mohsen Kafili,  Fereshte...  tt0112445
80  [Andy Garcia,  Christopher Lloyd,  William For...  tt0114660
81  [Willeke van Ammelrooy,  Els Dottermans,  Dora...  tt0112379
82  [Al Freeman Jr.,  Phylicia Rashad,  Leon,  Pau...  tt0114039
83  [Victoria Foyt,  Viveca Lindfors,  Jon Robin B...  tt0113612
84  [Mark Rylance,  Kristin Scott Thomas,  Patsy K...  tt0112365
85  [Jeff Bridges,  Caroline Goodall,  John Savage...  tt0118158
86  [Jason Alexander,  Faye Dunaway,  Eric Lloyd, ...  tt0116151
87  [Chris Farley,  David Spade,  Tim Matheson,  C...  tt0115697
88  [Johnny Depp,  Courtney Chase,  Charles S. Dut...  tt0113972
89  [Jason Patric,  Thandie Newton,  Larry Drake, ...  tt0113490
90  [Julia Roberts,  John Malkovich,  George Cole,...  tt0117002
91  [Eddie Murphy,  Angela Bassett,  Allen Payne, ...  tt0114825
92  [Matt Dillon,  Noah Emmerich,  Annabeth Gish, ...  tt0115639
93  [John Travolta,  Christian Slater,  Samantha M...  tt0115759
94  [Richard Briers,  Hetta Charnley,  Joan Collin...  tt0113403
95  [Vincent Cassel,  Hubert Koundé,  Saïd Taghmao...  tt0113247
96  [Sadie Frost,  Jude Law,  Sean Pertwee,  Frase...  tt0111173
97  [Nick Broomfield,  Nina Xining Zuo,  Madam Ale...  tt0113283
98  [Al Pacino,  John Cusack,  Bridget Fonda,  Dan...  tt0115907
99  [Luke Wilson,  Owen Wilson,  Ned Dowd,  Shea F...  tt0115734

[100 rows x 2 columns]

In [85]:
film_actor_df = actor_data_df.set_index(['imdb_id'])['Actors'].apply(pd.Series).stack()
film_actor_df = film_actor_df.reset_index()
film_actor_df = film_actor_df.drop('level_1', axis=1)
film_actor_df.columns = ['imdb_id','Actor']

In [86]:
film_actor_df

       imdb_id                       Actor
0    tt0114709                   Tom Hanks
1    tt0114709                   Tim Allen
2    tt0114709                 Don Rickles
3    tt0114709                  Jim Varney
4    tt0113497              Robin Williams
5    tt0113497               Jonathan Hyde
6    tt0113497               Kirsten Dunst
7    tt0113497              Bradley Pierce
8    tt0113228              Walter Matthau
9    tt0113228                 Jack Lemmon
10   tt0113228                Sophia Loren
11   tt0113228                 Ann-Margret
12   tt0114885             Whitney Houston
13   tt0114885              Angela Bassett
14   tt0114885              Loretta Devine
15   tt0114885                 Lela Rochon
16   tt0113041                Steve Martin
17   tt0113041                Diane Keaton
18   tt0113041                Martin Short
19   tt0113041   Kimberly Williams-Paisley
20   tt0113277                   Al Pacino
21   tt0113277              Robert De Niro
22   tt0113277                  Val Kilmer
23   tt0113277                  Jon Voight
24   tt0114319               Harrison Ford
25   tt0114319                Julia Ormond
26   tt0114319                Greg Kinnear
27   tt0114319              Nancy Marchand
28   tt0112302      Jonathan Taylor Thomas
29   tt0112302                 Brad Renfro
..         ...                         ...
370  tt0115639               Annabeth Gish
371  tt0115639                Lauren Holly
372  tt0115759               John Travolta
373  tt0115759            Christian Slater
374  tt0115759             Samantha Mathis
375  tt0115759                Delroy Lindo
376  tt0113403              Richard Briers
377  tt0113403              Hetta Charnley
378  tt0113403                Joan Collins
379  tt0113403            Nicholas Farrell
380  tt0113247              Vincent Cassel
381  tt0113247               Hubert Koundé
382  tt0113247              Saïd Taghmaoui
383  tt0113247           Abdel Ahmed Ghili
384  tt0111173                 Sadie Frost
385  tt0111173                    Jude Law
386  tt0111173                Sean Pertwee
387  tt0111173                Fraser James
388  tt0113283             Nick Broomfield
389  tt0113283             Nina Xining Zuo
390  tt0113283                  Madam Alex
391  tt0113283              Corinne Bohrer
392  tt0115907                   Al Pacino
393  tt0115907                 John Cusack
394  tt0115907               Bridget Fonda
395  tt0115907                Danny Aiello
396  tt0115734                 Luke Wilson
397  tt0115734                 Owen Wilson
398  tt0115734                    Ned Dowd
399  tt0115734                 Shea Fowler

[400 rows x 2 columns]

In [95]:
actor_id = film_actor_df.groupby('Actor').ngroup()

In [96]:
film_actor_df['actor_id'] = actor_id

In [99]:
film_actor_df['actor_id'] = 'a' + film_actor_df['actor_id'].astype(str)

In [100]:
film_actor_df

       imdb_id                       Actor actor_id
0    tt0114709                   Tom Hanks     a379
1    tt0114709                   Tim Allen     a270
2    tt0114709                 Don Rickles      a77
3    tt0114709                  Jim Varney     a125
4    tt0113497              Robin Williams     a367
5    tt0113497               Jonathan Hyde     a139
6    tt0113497               Kirsten Dunst     a160
7    tt0113497              Bradley Pierce      a32
8    tt0113228              Walter Matthau     a383
9    tt0113228                 Jack Lemmon     a114
10   tt0113228                Sophia Loren     a258
11   tt0113228                 Ann-Margret      a15
12   tt0114885             Whitney Houston     a385
13   tt0114885              Angela Bassett      a13
14   tt0114885              Loretta Devine     a170
15   tt0114885                 Lela Rochon     a165
16   tt0113041                Steve Martin     a376
17   tt0113041                Diane Keaton      a75
18   tt0113041                Martin Short     a180
19   tt0113041   Kimberly Williams-Paisley     a159
20   tt0113277                   Al Pacino     a293
21   tt0113277              Robert De Niro     a231
22   tt0113277                  Val Kilmer     a278
23   tt0113277                  Jon Voight     a137
24   tt0114319               Harrison Ford     a314
25   tt0114319                Julia Ormond     a146
26   tt0114319                Greg Kinnear     a101
27   tt0114319              Nancy Marchand     a199
28   tt0112302      Jonathan Taylor Thomas     a332
29   tt0112302                 Brad Renfro      a31
..         ...                         ...      ...
370  tt0115639               Annabeth Gish      a17
371  tt0115639                Lauren Holly     a164
372  tt0115759               John Travolta     a329
373  tt0115759            Christian Slater      a49
374  tt0115759             Samantha Mathis     a243
375  tt0115759                Delroy Lindo      a72
376  tt0113403              Richard Briers     a362
377  tt0113403              Hetta Charnley     a105
378  tt0113403                Joan Collins     a127
379  tt0113403            Nicholas Farrell     a203
380  tt0113247              Vincent Cassel     a382
381  tt0113247               Hubert Koundé     a107
382  tt0113247              Saïd Taghmaoui     a249
383  tt0113247           Abdel Ahmed Ghili       a0
384  tt0111173                 Sadie Frost     a369
385  tt0111173                    Jude Law     a144
386  tt0111173                Sean Pertwee     a254
387  tt0111173                Fraser James      a93
388  tt0113283             Nick Broomfield     a351
389  tt0113283             Nina Xining Zuo     a204
390  tt0113283                  Madam Alex     a172
391  tt0113283              Corinne Bohrer      a58
392  tt0115907                   Al Pacino     a293
393  tt0115907                 John Cusack     a130
394  tt0115907               Bridget Fonda      a33
395  tt0115907                Danny Aiello      a64
396  tt0115734                 Luke Wilson     a344
397  tt0115734                 Owen Wilson     a209
398  tt0115734                    Ned Dowd     a201
399  tt0115734                 Shea Fowler     a256

[400 rows x 3 columns]

In [79]:
film_actor_df['actor_id'].value_counts(normalize=True)

13     0.0050
46     0.0050
161    0.0050
223    0.0050
33     0.0050
79     0.0050
44     0.0050
278    0.0050
220    0.0050
293    0.0050
329    0.0050
136    0.0025
125    0.0025
140    0.0025
139    0.0025
126    0.0025
138    0.0025
127    0.0025
128    0.0025
129    0.0025
130    0.0025
131    0.0025
132    0.0025
133    0.0025
124    0.0025
134    0.0025
135    0.0025
137    0.0025
388    0.0025
122    0.0025
        ...
284    0.0025
285    0.0025
286    0.0025
287    0.0025
288    0.0025
267    0.0025
265    0.0025
243    0.0025
253    0.0025
244    0.0025
245    0.0025
246    0.0025
247    0.0025
248    0.0025
249    0.0025
250    0.0025
251    0.0025
252    0.0025
254    0.0025
264    0.0025
255    0.0025
256    0.0025
257    0.0025
258    0.0025
259    0.0025
260    0.0025
261    0.0025
262    0.0025
263    0.0025
0      0.0025
Name: actor_id, Length: 389, dtype: float64

In [55]:
df_filtered = film_actor_df.query('actor_id == 223')
print(df_filtered)

       imdb_id              Actor  actor_id
34   tt0114576   Raymond J. Barry       223
143  tt0112818   Raymond J. Barry       223

In [58]:
film_actor_df = film_actor_df.drop(['Actor'], axis=1)

In [59]:
rds_connection_string = "postgres:password@localhost:5432/OMDB_Data"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [60]:
engine.table_names()

['film_actor']

In [61]:
film_actor_df.to_sql(name='film_actor', con=engine, if_exists='append', index=False)